#root {
    position: relative;
}

aside ul a,
aside ul a:visited,
aside ul a:active {
    color: var(--black);
    text-decoration: none;
}

#main-language > option {
    color: var(--black);
}

@media (max-width: 900px) {
    #main-menu {
        position: absolute;
        left: 0; top: 0;
        box-shadow: 5px 0 0 2px lightgray;
    }
}